[Unit]
Description=TS3proxy
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ts3proxy
ExecStart=/usr/bin/python3 -m ts3proxy
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
